html body{
	background-color: #f6f6f6;
	font-size: 12px;
}

body,h1,h2,h3,h4,h5,h6,p,dl,dd,ol,ul,fieldset,figure,menu,blockquote,pre,hr {
	margin:0;
}

legend,menu,ol,ul,td,th,input {
	padding:0;
}

ol, ul, menu {
	list-style: none;
}

img {
	vertical-align: middle;
	border: 0;
}

a {
	color: inherit; 
	text-decoration: none;
}

a:hover {
	color: #f50;
	text-decoration: underline;
	outline: 0;
}
.text-overflow {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.active {
	background-color: #0aa770;
	color: #fff;
	text-decoration: none;
}
.grey333 { color: #333; }
.grey666 { color: #666; }
.grey999 { color: #999; }
.greyccc { color: #ccc; }
.greyddd { color: #ddd; }
.red { color: #f50;}
.key { color: #999;}
.value { color: #333;}
.clear-margin {
	margin: 0 !important;
}

.new {
	display: inline-block;
	width: 31px;
	height: 14px;
	background: url(../images/new.jpg);
	margin-left: 5px;
}

.w930 {
	width: 930px;
}

.w910 {
	width: 910px;
}

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.header, .navmenu, .wrapper, footer {
	width: 100%;
	min-width: 1190px;
	clear:both;
}

.header {
	position: relative;
	z-index: 50;
	font-family: Helvetica, Arial, "Microsoft Yahei", SimSun, sans-serif;
}
.header .header-wrapper {
	width: 100%;
	height: 60px;
	background:#0aa770;
	border-bottom: 1px solid #099e6a;
}

.header .header-container, .site-footer-container{
	width: 1190px;
	margin: 0 auto;
} 

.header .site-logo {
	float: left;
	overflow:hidden;
	height: 60px;
}

.header .header-search-box {
	float: right;
	width: 350px;
	height: 32px;
	position: relative;
	top: 14px;
}
.header .header-search-box .search-keywords {
	float:left;
	width: 250px;
	border: 0;
	padding: 5px 10px;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	background-color: #FFF;
	color: #333;
}
.header .header-search-box .submit {
	float: left;
	width: 80px;
	height: 32px;
	border: 0;
	padding: 0;
	background-color: #118860;
	cursor: pointer;
	color: #fff;
}

/* 
 * The Primary Menu
 */
.navmenu {
	height: 40px;
	background: #0aa770;
}
.navmenu-container {
	width: 1190px;
	margin: 0 auto;
}
.navmenu ul, .navmenu li {
	float: left;
}
.navmenu li a{
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
	font-size: 16px;
}
.navmenu li a:hover {
	background: #3ccaa3;
	text-decoration: none;
}
.navmenu .current {
	background-color:#118860;
}
.navmenu .current a {
	cursor: default;
}

/*
 * The main body container
 */
.wrapper {
	width: 1190px;
	margin: 0 auto;
}
.wrapper:after, .wrapper:before{
	display: table;
	clear:both;
}

.post-content {
	margin: 10px 0;
}

.comic-row {
	margin-top: 50px;
	clear:both;
}
.comic-row:after, .comic-row:before {
	clear:both;
	display:table;
	line-height:0;
	content: "";
}
.comic-row-ad {
	padding: 20px 0;
	text-align: center;
	clear: both;
}

.breadcrumb {
	height: 30px;
	color: #333;
}

.widget-area {
	width: 260px;
	float: right;
}

.post-main {
	width: 910px;
	float: left;
	background-color: #fff;
}
.post-main-wrapper {
	padding: 20px;
}
.comic-detail-thumb {
	float: left;
	width: 218px;
	height: 285px;
	background: url(../images/thum-bg-218.jpg);
}
.comic-detail-thumb img{
	width: 210px;
	height: 277px;
	margin: 1px 0 0 1px;
}
.comic-detail-right {
	width: 630px;
	float: right;
}
ul.comic-attributes {
	margin-top: 10px;
}
ul.comic-attributes li {
	float: left;
	height: 25px;
	line-height: 25px;
	width: 33%;
}
h1.comic-title {
	font-size: 36px;
	line-height: 36px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
h1.comic-title span{
	background-color: #ff884c;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	height: 18px;
	padding: 0 8px;
	margin: -21px 0 0 7px;
	border-radius: 3px;
	line-height: 20px;
	vertical-align: middle;
}

.comic-des {
	margin: 10px 0;
	line-height: 22px;
	height: 90px;
	overflow: hidden;
}

.resource-provider {
	line-height: 1.5;
	float: left;
	margin: 30px 0 0 20px;
}

.readbtn {
	float: left;
	margin: 5px 0;
	display: inline-block;
	padding: 10px 16px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #11c183;
	color: #fff;
}
.readbtn:hover{
	background-color: #09b579;
	text-decoration: none;
	color: #fff;
}

.comic-chapter-list {
	clear:both;
	margin-top: 30px;
}
.comic-chapter-wrapper {
	border-top: 1px dashed #c8c9cd;
	padding-top: 20px;
}
.comic-chapter-wrapper .title{
	float: left;
	font-size: 20px;
	color: #333;
}
.comic-chapter-wrapper .subtitle{
	float: left;
	font-size: 14px;
	margin: 8px 0 0 10px;
	color: #999;
}
.popular {
	height: 30px;
	line-height: 30px;
	background-color:#eee;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 10px;
	font-size: 12px;
	padding: 0 16px;
}
.popular .key{
	color:#666;
	font-weight: bolder;
	width: 2px;
	border-left: 2px solid #0aa770;
	padding-left: 7px;
}
.popular .value {
	display: inline;
	padding-left: 10px;
}
.popular .value a {
	color: #333;
	margin-right: 15px;
}

.hotspot {
	height: 455px;
	margin-top: 10px;
}
.hotspot .hotspot-slider {
	float: left;
	width: 910px;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(225,225,225,0)),to(rgba(0,0,0,.8)));
}
.hotspot .hotspot-sidebar {
	width: 279px;
	float: right;
	background-color:#333;
}

.ranking {
	width: 100%;
	height: 100%;
	background-color:#333;
}
.ranking .head-wrap h2.title {
	color: #666;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 5px;
}
.ranking .head-wrap h2.green-title {
	color: #ccc;
	border-left: 2px solid #0aa770;
	padding-left: 8px;
	margin: 9px 0 0 20px;
	height: 20px;
	line-height: 20px;
}
.ranking .head-wrap .tab-wrap {
	float:right;
}
.ranking .head-wrap .tab-wrap .item {
	float: left;
	height: 30px;
	line-height: 30px;
	font-size:14px;
	padding: 0 8px;
	margin-right: 5px;
}
.ranking .list-wrap {
	background-color:#333;
	margin-top: 18px;
	width: 100%;
}
.ranking .list-wrap .list-page {
	width: 100%;
	margin-top: 11px;

}
.ranking .list-wrap .list-page .topone {
	padding: 0 20px;
	height: 136px;
}
.ranking .list-wrap .list-page .topone .pic-wrap{
	float: left;
	width: 102px;
	height: 100%;
	background: url(../images/thum-bg.png) no-repeat;
	position: relative;
	margin-right: 8px;
}
.ranking .list-wrap .list-page .topone .pic-wrap .pic{
	width: 94px;
	height: 125px;
	vertical-align: middle;
	margin: 1px 0 0 1px;
}
.ranking .list-wrap .list-page .topone .pic-wrap .sort{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background-color: #0aa770;
	color: #fff;
	font-size: 12px;
}

.ranking .list-wrap .list-page .topone .info-wrap{
	width: 129px;
	float: right;
	font-size: 12px;
	height: 100%;
	line-height: 1.5;
}
.ranking .list-wrap .list-page .topone .info-wrap .title{
	color: #ddd;
	margin-top: 6px;
}
.ranking .list-wrap .list-page .topone .info-wrap .title:hover{
	color:#f50;
}
.ranking .list-wrap .list-page .topone .info-wrap .des{
	color:#999;
	margin-top: 20px;
}
.ranking .list-wrap .list-page .topone .info-wrap .info {
	font-size: 12px;
	margin-top: 10px;
}
.ranking .list-wrap .list-page .topone .info-wrap .info .key {
	color: #999;
}
.ranking .list-wrap .list-page .topone .info-wrap .info .value{
	color: #666;
}
.ranking .list-wrap .list-page .topone .info-wrap .info .value a{
	margin-right: 5px;
}
.ranking .list-wrap .list-page .list {
	padding: 0 8px;
}
.ranking .list-wrap .list-page .list .item {
	border-bottom: 1px dashed #555;
	display:block;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.ranking .list-wrap .list-page .list .item .sort {
	display: inline-block;
	color: #aaa;
	width: 15px;
	margin: 0 3px 0 17px;
	text-align: center;
	vertical-align: middle;
}
.ranking .list-wrap .list-page .list .item .sort.high {
	color:#0aa770;
}
.ranking .list-wrap .list-page .list .item:hover .title, .ranking .list-wrap .list-page .list .item:hover .des{
	color: #f50;
}
.ranking .list-wrap .list-page .list .item:hover {
	background-color:#666;
}
.ranking .list-wrap .list-page .list .item .title{
	width: 110px;
	color: #ddd;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.ranking .list-wrap .list-page .list .item .des{
	width: 100px;
	color: #999;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}
.ranking-light {
	background-color:transparent;
}
.ranking-light .list-wrap {
	background-color: #eee;
}
.ranking-light .list-wrap:after {
	display:table;
	clear:both;
	line-height:0;
	content: "";
}
.ranking-light .list-wrap .list-page .list .item {
	border-bottom: 1px dashed #d5d4d8;
}
.ranking-light .list-wrap .list-page .topone .info-wrap {
	width: 110px;
}
.ranking-light .list-wrap .list-page .topone .info-wrap .title {
	color: #333;
}
.ranking-light .list-wrap .list-page .list .item .title{
	color: #333;
	width: 135px;
}
.ranking-light .list-wrap .list-page .list .item .des{
	color: #999;
	width: 60px;
}
.ranking-light .list-wrap .list-page .list .item:hover {
	background-color:#fefefe;
}
.classify-box {
	height: 92px;
	margin-top: 20px;
}
.classify-box .classify-wrap {
	float: left;
	width: 907px;
	height: 90px;
	border: 1px solid #ddd;
	background-color: #fafafa;
}
.classify-box .classify-wrap .item {
	height: 48px;
	float: left;
	margin-tip: 8px;
	padding: 13px 0;
	border-right: 1px dashed #f1f1f1;
}
.classify-box .classify-wrap .item h3.title{
	font-size: 16px;
	color:#0aa770;
	height: 100%;
	border-left: 2px solid #0aa770;
	padding-left: 10px;
	width: 30px;
	float: left;
	line-height: 16px;
	margin-left: 16px;
}
.classify-box .classify-wrap .item .list{
	float: left;
	height: 100%;
	overflow: hidden;
}
.classify-box .classify-wrap .item .list a{
	width: 43px;
	text-align: left;
	float: left;
	color: #666;
	font-size: 12px;
	margin-bottom: 12px;
	white-space: nowrap;
	line-height: 1.5;
}
.classify-box .classify-wrap .item.first {
	width: 510px;
	margin-left:9px;
}
.classify-box .classify-wrap .item.second {
	width: 230px;
}
.classify-box .classify-wrap .item.third {
	border: 0;
}
.classify-box .classify-wrap .item.first .list {
	width: 430px;
}
.classify-box .classify-wrap .item.second .list {
	width: 165px;
}
.classify-box .classify-wrap .item.third .list {
	width: 50px;
}
.classify-box .classify-wrap .item.third .list a:hover {
	color: #f50;
}
.classify-box .ad {
	width: 260px;
	height: 100%;
	float: right;
}

.comic-section-head {
	height: 30px;
}
.comic-section-head h2 {
	height: 30px;
	line-height: 28px;
	color: #666;
	font-size: 28px;
	float: left;
}
.comic-section-head .tab {
	height: 30px;
	float: left;
	margin-left: 20px;
}
.comic-section-head .tab .item {
	float: left;
	line-height: 30px;
	padding: 0 18px;
	color: #666;
}

.comic-section-main {
	margin-top: 18px;
}
.comic-section-main .list-wrap {
	width: 930px;
	position: relative;
}
.comic-section-main .list-wrap .list-page {
	width: 930px;
	position: absolute;
	top: 0;
	left: 0;
}
.recommend-list {
	width: 290px;
	float: left;
	margin: 0 6px 10px 0;
}
.recommend-list .title-wrap {
	height: 40px;
	background-color: #eee;
}
.recommend-list .title-wrap h3.title {
	border-left: 2px solid #0aa770;
	font-size: 16px;
	color: #333;
	padding-left: 6px;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	margin: 11px 0 0 10px;
}
.recommend-list .flagged {
	margin-top: 15px;
	padding: 0 10px 0 15px;
	height: 178px;
}
.recommend-list .flagged .pic-wrap {
	display: block;
	width: 135px;
	height: 178px;
	background: url(../images/thum-bg-135.jpg) 0 0 no-repeat;
	position: relative;
	float: left;
}
.recommend-list .flagged .pic-wrap img{
	width: 127px;
	height: 170px;
	vertical-align: middle;
	margin: 1px 0 0 1px;
}
.recommend-list .flagged .des {
	width: 120px;
	float: left;
	margin-left: 10px;
	line-height: 1.5;
}
.recommend-list .flagged .des a.title {
	font-size: 14px;
	font-weight: bold;
	color: #333;
	display: block;
	margin-top: 5px;
}
.recommend-list .flagged .des p.info{
	font-size: 12px;
	margin-top: 10px;
	width: 100%;
}
.recommend-list .extra{
	margin-top: 40px;
	list-style-image:url("../images/list-square.png");
	list-style-type:square;
}
.recommend-list .extra li {
	float: left;
	width: 45%;
	height: 26px;
	line-height: 26px;
	display: block;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: url("../images/list-square.png") no-repeat;
	padding-left: 13px;
	
}

.choice-box {
	background-color: #d5d4d8;
	padding: 20px;
}

.choice-box li {
	display: block;
	width: 215px;
	height: 100px;
	margin-right: 18px;
	float: left;
}
.choice-box img {
	width: 100%;
	height: 100%;
}

.thumb-list-item {
	width: 135px;
	height: 245px;
	float: left;
	margin: 0 20px 20px 0;
}
.thumb-list-item .pic-wrap {
	display: block;
	width: 135px;
	height: 178px;
	background: url(../images/thum-bg-135.jpg) 0 0 no-repeat;
	position: relative;
}
.thumb-list-item .pic-wrap img{
	width: 127px;
	height: 170px;
	vertial-align: middle;
	margin: 1px 0 0 1px;
}
.thumb-list-item .title{
	display: block;
	width: 135px;
	font-size: 14px;
	color: #333;
	margin-top: 8px;
	line-height: 1.5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumb-list-item .title:hover{
	color:#f50;
}
.thumb-list-item .des {
	width: 135px;
	font-size: 12px;
	color: #999;
	line-height: 18px;
	margin-top: 3px;
	overflow: hidden;
}
.comic-section-main .featured {
	float: left;
	display: block;
	border: 1px solid #fff;
	width: 288px;
	height: 243px;
	margin-bottom: 20px;
	position: relative;
	margin-right: 20px;
}
.comic-section-main .featured .pic{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.comic-section-main .featured .title{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 18px;
	color:#fff;
	height: 70px;
	text-indent: 0.6em;
	white-space: nowrap;
	line-height: 60px;
	text-overflow: ellipsis;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(225,225,225,0)),to(rgba(0,0,0,.8)));
}
.comic-section-main .featured .des {
	position: absolute;
	width: 100%;
	bottom: 7px;
	left: 0;
	font-size: 12px;
	color: #ccc;
	text-indent: 0.9em;
}

.comic-sidebar {
	float: right;
	width: 260px;
	
}
.comic-sidebar .ad{
	display: block;
	width: 260px;
	height: 70px;
	margin-top: 19px;
}

.chapter-list {
	list-style: none;
	font-size: 14px;
	margin-top: 10px;
}
.chapter-list li {
	display: block;
	width: 25%;
	float: left;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
 * Widget
 */
.widget-area ul{
	margin-bottom: 15px;
	background-color: #efeef2;
}
.widgettitle {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	border-left: 3px solid #0aa770;
	font-size: 18px;
	margin-bottom: 5px;
}

footer {
	width: 100%;
	background-color: #e9e8ef;
	border-top: 1px solid #e0e0e0;
}
.footer-logo {
	margin-right: 20px;
	float: left;
}
.site-footer {
	margin-top: 50px;
}
.site-footer-container {
	font-size: 16px;
	padding: 10px 0;
}